doctype html
html(lang='en' xmlns='http://www.w3.org/1999/xhtml' xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='x-apple-disable-message-reformatting')
    title
    //if mso
      style.
        table{border-collapse:collapse;border-spacing:0;border:none;margin:0;}div, td{padding:0;}div{margin:0 !important;}
      noscript
        xml
          o:officedocumentsettings
            o:pixelsperinch 96
    style.
      table, td, div, h1, p{font-family: Arial, sans-serif;}@media screen and (max-width: 530px){.unsub{display: block; padding: 8px; margin-top: 14px; border-radius: 6px; background-color: #555555; text-decoration: none !important; font-weight: bold;}.col-lge{max-width: 100% !important;}}@media screen and (min-width: 531px){.col-sml{max-width: 27% !important;}.col-lge{max-width: 73% !important;}}
  body(style='margin:0;padding:0;word-spacing:normal;background-color:#e1e1e1')
    div(role='article' aria-roledescription='email' lang='en' style='text-size-adjust:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#e1e1e1;')
      table(role='presentation' style='width:100%;border:none;border-spacing:0;')
        tbody
          tr
            td(align='center' style='padding:0;')
              //if mso
                table(role='presentation' align='center' style='width:600px;')
                  tbody
                    tr
                      td
              table(role='presentation' style='width:94%;max-width:600px;border:none;border-spacing:0;text-align:left;font-family:Arial,sans-serif;font-size:16px;line-height:22px;color:#363636;')
                tbody
                  tr
                    td(style='padding:40px 30px 30px 30px;text-align:center;font-size:24px;font-weight:bold;')
                      a(href='https://www.example.com/' target='_blank' style='text-decoration:none;')
                        img(src='https://placehold.jp/d42525/ffffff/250x60.png?text=LOGO' width='165' alt='Logo' style='width:250px;max-width:80%;height:auto;border:none;text-decoration:none;color:#ffffff;')
                  tr
                    td(style='padding:30px;background-color:#ffffff;')
                      h1(style='margin-top:0;margin-bottom:16px;font-size:26px;line-height:32px;font-weight:bold;letter-spacing:-0.02em;') Bonjour,
                      p(style='margin:0;')
                        | Vous avez récemment essayé de vous connecter à partir d'un nouvel appareil, d'un nouveau navigateur ou d'un nouveau lieu.
                      p Afin de vous connecter, veuillez utiliser le code ci-dessous:
                  tr
                    td(style='padding:0px 0px 0px 38%;font-size:0;background-color:#ffffff;')
                      //if mso
                        table(role='presentation' width='100%')
                          tbody
                            tr
                              td(style='width:145px;' align='left' valign='top')
                      //if mso
                      .col-lge(style='display:inline-block;width:100%;max-width:395px;vertical-align:top;padding-bottom:20px;font-family:Arial,sans-serif;font-size:16px;line-height:22px;color:#363636;')
                        p(style='margin:0;')
                          a(style='background: #e42618; text-decoration: none; padding: 10px 25px; color: #ffffff; border-radius: 4px; display:inline-block; mso-padding-alt:0;text-underline-color:#e42618')
                            span(style='mso-text-raise:10pt;font-weight:bold;') #{code}
                      //if mso
                  tr
                    td(style='padding:30px;background-color:#ffffff;')
                      p(style='margin:0;')
                        | Si ce n'était pas vous, veuillez changer votre mot de passe permettant l'accès au Système d'Information de l'établissement.
                      p(style='margin:10px 0 0 0 ;') Merci, L'équipe DSI.
                  tr
                    td(style='padding:30px;text-align:center;font-size:12px;background-color:#404040;color:#cccccc;')
                      p(style='margin:0 0 8px 0;')
                        a(href='https://www.facebook.com/' target='_blank' style='text-decoration:none;')
                          img(src='https://placehold.jp/3b5998/ffffff/128x128.png?text=Facebook' width='40' height='40' alt='f' style='display:inline-block;color:#cccccc;')
                        a(href='https://twitter.com/' target='_blank' style='text-decoration:none;')
                          img(src='https://placehold.jp/25c9d4/ffffff/128x128.png?text=Twitter' width='40' height='40' alt='t' style='display:inline-block;color:#cccccc;')
                        a(href='https://www.instagram.com/' target='_blank' style='text-decoration:none;')
                          img(src='https://placehold.jp/833AB4/ffffff/128x128.png?text=Instagram' width='32' height='32' alt='t' style='margin: 0px 5px 2px 5px;display:inline-block;color:#cccccc;')
                        a(href='https://www.linkedin.com/' target='_blank' style='text-decoration:none;')
                          img(src='https://placehold.jp/0072b1/ffffff/128x128.png?text=LinkedIN' width='32' height='32' alt='t' style='margin: 0px 5px 2px 5px;display:inline-block;color:#cccccc;')
                        a(href='https://www.youtube.com/' target='_blank' style='text-decoration:none;')
                          img(src='https://placehold.jp/e00606/ffffff/128x128.png?text=Youtube' width='32' height='32' alt='t' style='margin: 0px 5px 2px 5px;display:inline-block;color:#cccccc;')
                      p(style='margin:0;font-size:14px;line-height:20px;')
                        | ® My business, Address
                        br
                        | PO Box
                        br
              //if mso
